form {
  max-width: 600px;
  margin: 0 auto;
}

form .form-label {
  font-weight: 500;
}

form .btn-primary {
  background-color: #007bff;
  border: none;
}

form .btn-primary:hover {
  background-color: #0056b3;
}
.project-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

